img {
  width: 30em;
  border-right: solid gray;
}

.details_wrapper {
  display: flex;
}

.basic_description_wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.stats_wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}